In [614]:
import os
import glob
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, accuracy_score

In [615]:
df_train = pd.read_csv(r'C:\Users\Котик\realestatepriceprediction\train.csv', delimiter=',')
df_test = pd.read_csv(r'C:\Users\Котик\realestatepriceprediction\test.csv', delimiter=',')

In [616]:
df_train

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,0.135650,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,0.307467,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [617]:
#df_train.info()

In [618]:
#df_test.info()

In [619]:
df_train.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,B,B,6,1437,3,NaN,0,2,B,95380.220993

In [620]:
df_train.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [621]:
df_test.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,B,B,46,7960,6,350.0,3,11,B
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,B,B,53,14892,4,NaN,1,4,B
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B

In [622]:
df_train["DistrictId"].value_counts()

27     851
1      652
23     565
6      511
9      294
      ...
199      1
205      1
174      1
209      1
207      1
Name: DistrictId, Length: 205, dtype: int64

In [623]:

df_train = pd.get_dummies(df_train, prefix=['Ecology_2', 'Ecology_3', "Shops_2"])

In [624]:
df_test = pd.get_dummies(df_test, prefix=['Ecology_2', 'Ecology_3', "Shop_2"])

In [625]:
#df_train.info()

In [626]:
df_train['Healthcare_1'] = df_train['Healthcare_1'].fillna(df_train["Healthcare_1"].mean())
df_train['LifeSquare'] = df_train['LifeSquare'].fillna(df_train["LifeSquare"].mean())
df_test['Healthcare_1'] = df_train['Healthcare_1'].fillna(df_train["Healthcare_1"].mean())
df_test['LifeSquare'] = df_train['LifeSquare'].fillna(df_train["LifeSquare"].mean())

In [627]:
pd.options.display.max_columns = None
df_train

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,33,7976,5,1142.90446,0,11,184966.930730,0,1,0,1,0,1
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,46,10309,1,240.00000,1,16,300009.450063,0,1,0,1,0,1
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,34,7759,0,229.00000,1,3,220925.908524,0,1,0,1,0,1
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,23,5735,3,1084.00000,0,5,175616.227217,0,1,0,1,0,1
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,35,5776,1,2078.00000,2,4,150226.531644,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,0.135650,46,7960,6,350.00000,3,11,196684.316040,0,1,0,1,0,1
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000,30,5562,0,1142.90446,0,5,189050.289571,0,1,0,1,1,0
9997,5123,27,1.0,47.939008,37.199645,1.0,12,16.0,2015,0.072158,2,629,1,1142.90446,0,0,159143.805370,0,1,0,1,1,0
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,0.307467,30,5048,9,325.00000,2,5,181595.339808,0,1,1,0,0,1
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000,27,4798,0,30.00000,2,8,218714.077615,0,1,0,1,0,1

In [628]:
X_train, X_valid, y_train, y_valid = train_test_split(df_train.drop(['Price', "Id"], axis = 1), df_train['Price'], test_size = 0.15)
#X_train, X_valid, y_train, y_valid = train_test_split(df_train.drop(['Price'], axis = 1), df_train['Price'], test_size = 0.15)

In [629]:

X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((8500, 21), (1500, 21), (8500,), (1500,))

In [630]:
standard_scaler = preprocessing.StandardScaler()
#standard_scaler = preprocessing.MinMaxScaler() 
#standard_scaler = preprocessing.RobustScaler()

In [631]:
X_train_scale = standard_scaler.fit_transform(X_train)
X_valid_scale = standard_scaler.transform(X_valid)

In [660]:
lr = LinearRegression()

In [661]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [662]:
y_pred = lr.predict(X_valid)

In [663]:
r2 = r2_score(y_valid, y_pred)
r2

0.4329900772443782

In [665]:
lrn = LinearRegression()
lrn.fit(X_train_scale, y_train)
y_pred_lrn = lrn.predict(X_valid_scale)
r2 = r2_score(y_valid, y_pred_lrn)

r2

0.4328905690235453

In [637]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [638]:
#X_train_scale, y_train = make_regression(n_features=22, n_informative=2,
#                       random_state=0, shuffle=False)
regr = RandomForestRegressor(max_depth=250, n_estimators=350, max_features='log2')
regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=250, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=350, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [639]:
y_pred_regr = regr.predict(X_valid)

In [640]:
r2 = r2_score(y_valid, y_pred_regr)
r2

0.7656121131587795

In [641]:
index = pd.Series(df_test['Id'].values)

predict = y_pred_regr_test 

submission = pd.DataFrame(list(zip(index, predict))  , columns = ['Id', "Price"])

#submission.to_csv('submission.csv', index = False)

In [642]:
regr_scale = RandomForestRegressor(max_depth=250, n_estimators=250, max_features='auto')
regr_scale.fit(X_train_scale, y_train)
y_pred_regr_scale = regr_scale.predict(X_valid_scale)
r2 = r2_score(y_valid, y_pred_regr_scale)
r2

0.7655443856578314

In [643]:
y_pred_regr_test = regr.predict(df_test.drop(["Id"], axis = 1))
#y_pred_regr_test = regr_scale.predict(df_test)

In [644]:
y_pred_regr_test

array([157633.85565322, 233998.2667635 , 262203.05230712, ...,
       318666.88701484, 197461.44747723, 193482.49792572])

In [645]:
index = pd.Series(df_test['Id'].values)

predict = y_pred_regr_test 

submission = pd.DataFrame(list(zip(index, predict))  , columns = ['Id', "Price"])

#submission.to_csv('submission.csv', index = False)

In [646]:
from sklearn.linear_model import SGDRegressor

In [647]:
sgd = SGDRegressor(loss="squared_epsilon_insensitive", max_iter=1000, penalty='l2', shuffle=True, l1_ratio=0.15, learning_rate='invscaling')

In [669]:
#sgd = make_pipeline(StandardScaler(),
#                     SGDRegressor(max_iter=1000, tol=1e-3))
sgd.fit(X_train, y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_epsilon_insensitive',
             max_iter=1000, n_iter_no_change=5, penalty='l2', power_t=0.25,
             random_state=None, shuffle=True, tol=0.001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [670]:
y_pred_sgd = sgd.predict(X_valid)

In [674]:
r2 = r2_score(y_valid, y_pred_sgd)
r2

-1.3524088132941896e+27

In [675]:
sgd_scale = SGDRegressor(loss="squared_epsilon_insensitive", max_iter=1000, penalty='l2', shuffle=True, l1_ratio=0.15, learning_rate='invscaling')
sgd_scale.fit(X_train_scale, y_train)
y_pred_sgd_scale = sgd_scale.predict(X_valid_scale)
r2 = r2_score(y_valid, y_pred_sgd_scale)
r2

-990189324.7927605

In [652]:
#from tpot import TPOTClassifier

In [653]:
#pipeline_optimizer = TPOTClassifier()

In [654]:
#pipeline_optimizer = TPOTClassifier(generations=5, population_size=20, cv=5,
         #                           random_state=42, verbosity=2)

In [655]:
#pipeline_optimizer.fit(X_train, y_train)

In [656]:
#print(pipeline_optimizer.score(X_test, y_test))

In [667]:
from sklearn import svm

SVM = svm.LinearSVR()
SVM.fit(X_train, y_train)

y_pred_svm = SVM.predict(X_valid)
r2 = r2_score(y_valid, y_pred_svm)
r2

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.22308120860927216

In [668]:
SVM_scale = svm.LinearSVR()
SVM_scale.fit(X_train_scale, y_train)

y_pred_svm_scale = SVM_scale.predict(X_valid_scale)
r2 = r2_score(y_valid, y_pred_svm_scale)
r2

-5.045350252380703